# Bu dosyayı ".env" adıyla kopyala ve değerleri doldur.
# (Bu .example dosyası commit'lenir, .env commit'lenmez.)

PUBLIC_SANITY_PROJECT_ID=anmdcj3x
PUBLIC_SANITY_DATASET=production
PUBLIC_SANITY_API_VERSION=2025-01-01
